.header {
  padding: 10px;
  display: flex;
  justify-content: center;

  .back {
    text-align: center;
    margin: 0px 10px;

    a {
      position: relative;
      ion-icon {
        box-shadow: 3px 3px 6px 0px rgb(189, 189, 189),
          -3px -3px 6px 0px rgb(255, 255, 255);
        font-size: 25px;
        color: rgb(84, 84, 84);
        padding: 5px;
        transition: all .3s;
        border-radius: 50%;

        &:hover {
          background: linear-gradient(45deg, rgb(217, 232, 246) 0%, rgb(255, 255, 255) 100%);
          box-shadow:
            -2px -7px 10px #c7d1dc,
            4px 6px 10px #e5f4ff,
            inset -2px -7px 10px #f1f1f1,
            inset 4px 6px 10px #d4d7da;
          transform: translate(0%) scale(0.95);
        }
      }
    }
  }
}

// ---------------
.adminproductbox {
  .insert {
    border: 1px solid rgb(181, 202, 230);
    padding: 5px;
    margin: 10px;
    border-radius: 10px;

    input,
    select,
    button {
      outline: none;
      background: rgba(0, 0, 0, 0);
      border: none;
      padding: 6px;
      margin: 5px;
      box-shadow: $boxshadowinsetinput;
      border-radius: 5px;

      option {}
    }

    button {
      width: 150px;
      border: $borderfornewf;
      box-shadow: $boxshadow;

      &:active {
        box-shadow: $boxshadowinsetinput;
      }
    }
  }
}

// ----------
.list {
  .card {
    color: rgb(82, 82, 82);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid gray;
    border-radius: 10px;
    margin: 10px;

    .id {}

    .name {}

    .image {
      img {
        border-radius: 10px;
        width: 50px;
        height: 50px;
        object-fit: cover;
      }
    }

    .price {}

    .sr {}

    .company {}

    .category {}

    .date {}

    .more {
      position: relative;

      .show {
        ion-icon {}
      }

      .box {
        z-index: 1;
        background: rgb(63, 63, 63);
        position: absolute;
        color: aliceblue;
        border-radius: 4px;
        padding: 5px;
        right: 0;
        top: 25px;
        font-size: 15px;

        .overview {
          text-align: center;
          margin: 5px;

          a {
            color: aliceblue;
            text-decoration: none;
          }
        }

        .update {
          margin: 5px;

          text-align: center;

          a {
            color: aliceblue;
            text-decoration: none;
          }
        }

        .deletebtn {
          background: rgba(0, 0, 0, 0);
          color: rgb(255, 255, 255);
          border: none;
          width: 90%;
          margin: 5px;
          font-size: 17px;
          cursor: pointer;
        }
      }
    }
  }
}