.delivery_days {
  display: flex;
  justify-content: center;

  flex-wrap: wrap;

  .day {

    text-decoration: none;
    height: 70px;
    color: #8F9BB2;
    letter-spacing: 0.5px;
    font-size: 1rem;
    width: 150px;
    margin: 15px 10px;
  border: 1px solid rgba(164, 164, 164, 0.168);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: linear-gradient(315.13deg, rgba(194, 217, 237, 0.3) 5.21%, rgba(255, 255, 255, 0.3) 62.26%), #E9F0F7;
    box-shadow: 3px 3px 12px rgba(138, 155, 189, 0.4), -3px -3px 15px rgba(255, 255, 255, 0.9);

  }


}