.acc {
    max-width: 2500px;

}

.admin {
    display: flex;
    height: 96vh;

    .toggle {
        display: none;

        .show,
        .hide {
            ion-icon {
                background: rgba(189, 201, 211, 0.15);
            }
        }
    }

    .cb {
        padding: 20px;
        height: 100vh;
        width: 80%;
        overflow: auto;

        .short_box {
            display: flex;

            flex-wrap: wrap;
            justify-content: center;

            .box {
                width: 43%;
                margin: 5px 10px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                background: rgba(31, 0, 98, 0.697);
                padding: 10px;
                border-radius: 10px;
                color: aliceblue;

                .text {
                    .title {
                        font-size: 0.8rem;
                    }

                    .number {
                        font-size: 1.3rem;
                    }
                }

                .icon {
                    border: 1px solid rgb(230, 230, 230);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 40px;
                    height: 40px;
                    border-radius: 10px;


                    span {
                        color: rgb(230, 230, 230);
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        p {
                            font-size: 1.5rem;
                        }

                        ion-icon {
                            font-size: 1.6em;
                        }
                    }
                }
            }
        }

        .pr {

            display: flex;

            .product_box {
                margin: 10px;
                width: 60%;
                padding: 8px;
                background: rgba(137, 0, 91, 0.698);
                display: flex;
                flex-direction: column;
                border-radius: 10px;
                color: rgb(224, 224, 224);
                font-size: 0.8rem;

                letter-spacing: 1px;
                height: max-content;

                .box {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin: 15px 0px;
                    padding: 0px 10px;
                    border-radius: 10px;

                    .subbox {
                        display: flex;
                        align-items: center;

                        .image {
                            margin: 0px 5px;

                            display: flex;
                            justify-content: center;
                            align-items: center;

                            img {
                                border-radius: 10px;
                                width: 50px;
                                aspect-ratio: 1/1;
                                object-fit: cover;
                            }
                        }

                        .name_price {


                            .name {}

                            .price {}
                        }
                    }

                    .statics {
                        margin: 0px 10px;
                        width: 50%;
                        display: flex;
                        align-items: center;

                        .boxs {

                            width: 90%;
                            height: 10px;
                            border-radius: 10px;
margin: 0px 10px;
                            .color {
                                height: 100%;
                                border-bottom-right-radius: 10px;
                                border-top-right-radius: 10px;
                                background: rgb(218, 210, 75);
                            }
                        }

                        .percent {}
                    }
                }
            }

            .retailer_box {
                margin: 10px;
                width: 40%;
                padding: 8px 15px;
              
                display: flex;
                flex-direction: column;
                border-radius: 10px;
            @include text-color;

                .box {

                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin: 10px 0px;

                    .subbox {
                        display: flex;
                        align-items: center;

                        .image {
                            margin: 0px 5px;

                            img {
                                border-radius: 50%;
                                width: 40px;
                                aspect-ratio: 1/1;
                                object-fit: cover;
                            }
                        }

                        .info {

                            @include text-color;

margin: 0px 10px;
                            .name {
                                font-size: 0.8rem;
                                font-weight: 600;
                                letter-spacing: 1px;
                            }

                            .shop_name {
                                font-size: 0.8rem;


                            }
                        }
                    }

                    .buy_info {


                        .total {
                            font-size: 0.9rem;
                            font-weight: 600;
                            letter-spacing: 1px;
                        }

                        .percent {
                            font-size: 0.9rem;
                            font-weight: 600;
                            letter-spacing: 1px;
                        }
                    }

                }
            }
        }
    }
}

// ----------------------------

@media only screen and (max-width: 780px) {
    .acc {
        max-width: 2500px;

    }

    .admin {


        .toggle {
            position: absolute;
            z-index: 2;
            display: block;
            color: rgb(255, 255, 255);

            .show,
            .hide {
                ion-icon {
                    background: rgb(255, 255, 255);
                    font-size: 1.5rem;
                    color: black;
                    padding: 5px;
                    cursor: pointer;

                }
            }

            .hide {
                ion-icon {
                    background: rgb(40, 40, 40);
                    color: rgb(225, 225, 225);
                }
            }
        }

        .cb {

            width: 100%;
            padding: 10px;

            .short_box {
                display: flex;
                justify-content: center;

                .box {


                    .text {
                        .title {}

                        .number {}
                    }

                    .icon {



                        span {


                            p {}

                            ion-icon {}
                        }
                    }
                }
            }

            .pr {
                flex-direction: column;
                width: 100%;

                .product_box {
                    width: 100%;
                    margin: 10px 0px;

                    .box {

                        .subbox {


                            .image {


                                img {}
                            }

                            .name_price {


                                .name {}

                                .price {}
                            }
                        }

                        .statics {


                            .boxs {


                                .color {}
                            }

                            .percent {}
                        }
                    }
                }

                .retailer_box {
                    width: 100%;


                    margin: 10px 0px;

                    .box {


                        .subbox {


                            .image {
                                margin: 0px 3px;

                                img {}
                            }

                            .info {


                                .name {}

                                .shop_name {
                                    font-size: 0.8rem;


                                }
                            }
                        }

                        .buy_info {


                            .total {}

                            .percent {}
                        }

                    }
                }
            }
        }
    }
}