.deller_sr {
  display: flex;
  justify-content: center;
  a {
    text-decoration: none;
    font-weight: 600;
    color: rgb(57, 57, 57);
    .card {
        width:100%;
        max-width: 200px;
        min-width: 150px;
      margin: 7px;
      padding: 5px;
      border: 1px solid rgb(104, 104, 104);
      .image {
          width: 100%;
        img {
          width: 100%;
          aspect-ratio: 1/1;
          object-fit: cover;
        }
      }
      .name {
      }
      .productlist {
      }
    }
  }
}
