.sr_overview {
  .head {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    .edit {
      ion-icon {
        padding: 10px;
        font-size: 20px;
        border-radius: 50%;
        box-shadow: $boxshadow;
        cursor: pointer;
        color: rgb(19, 90, 11);
      }
      .popup {
        z-index: 1;
        background: rgb(234, 234, 234);
        width:100%;
        margin: auto;
        height: max-content;
        top:0%;
        left:0%;
        position: absolute;
        .close {
          cursor: pointer;
          text-align: end;
          padding: 10px;
          ion-icon {
            font-size: 30px;
          }
        }
        form {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          padding: 20px;
          input {
          font-size: 1.2rem;
            background: rgba(255, 255, 255, 0);
            outline: none;
            border-radius: 3px;
            width: 100%;
            max-width: 350px;
            padding: 10px;
            border: none;
            margin: 5px;
            height: 50px;
            border: 1px solid rgb(130, 130, 130);
            border-radius: 5px;
          }
          .newretinsert{
            background: rgb(36, 36, 36);
            color: azure;
            font-size: 20px;
            letter-spacing: 1px;
            cursor: pointer;
          }
        }
      }
    }
    .image {
      margin: 0px 30px;
      img {
        width: 150px;
        aspect-ratio: 1/1;
        object-fit: cover;
        border-radius: 50%;
      }
    }
    .delete {
      ion-icon {
        padding: 10px;
        color: rgb(112, 0, 0);
        font-size: 20px;
        border-radius: 50%;
        box-shadow: $boxshadow;
      }
    }
  }
  .info {
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    .left {
      width: 100%;
      max-width: 200px;
      padding: 10px;
      .box {
       
      @include shadow;
        padding: 15px 10px;
        margin: 20px 0px;

        h3 {
      @include text_color;
      font-size: 16px;
        }
        p {
          font-size: 1rem;
          font-weight: 600;
          color: rgb(72, 162, 198);
        }
      }
    }
    .middle {
      padding: 20px 15px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: column;
      border: 1px solid rgba(135, 135, 135, 0.267);
      color: rgb(248, 248, 248);
      border-radius: 20px;
      .name {
      @include text_color;
        padding: 3px 10px;
        margin: 3px 0px;
        border-radius: 5px;
        text-transform: capitalize;
      }
      .number {
        background: rgba(131, 218, 170, 0.178);
        padding: 3px 10px;
        border-radius: 5px;
    color: rgb(113, 113, 113);
      margin: 3px 0px;
      }
      .password {
        background: rgba(218, 164, 131, 0.178);
        padding: 3px 10px;
        border-radius: 5px;
        color: rgb(113, 113, 113);
        margin: 3px 0px;
      }
      .company {
        background: rgba(104, 104, 104, 0.178);
        padding: 3px 10px;
        border-radius: 5px;
        color: rgb(113, 113, 113);

      margin: 3px 0px;
      }
      .deller {
        background: rgba(218, 208, 131, 0.178);
        padding: 3px 10px;
        border-radius: 5px;
    color: rgb(113, 113, 113);
      
      margin: 3px 0px;
      }
    }
    .right {
      width: 100%;
      max-width: 200px;
      padding: 10px;
      .box {
      @include shadow;
        padding: 15px 10px;
        margin: 20px 0px;
        h3 {
          @include text_color;
          font-size: 16px;
            }
            p {
              font-size: 1rem;
              font-weight: 600;
              color: rgb(186, 138, 217);
            }
      }
    }
  }
  .product {
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .card {
      color: rgb(78, 78, 78);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin: 10px;
      width: 100%;
      max-width: 150px;
      @include shadow;
    }
    .image {
      width: 100%;
      img {
        width: 100%;
        aspect-ratio: 1/1;
        border-radius: 10px;
        object-fit: cover;
      }
    }
    .price {
      font-weight: 600;
      font-size: 1.3rem;
      color: rgb(112, 179, 206);
    }
    .name {
      font-size: 1rem;
    }
  }
}
// --------------------------------
@media only screen and (max-width: 450px) {
  .sr_overview {
    .head {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
      .edit {
        ion-icon {
      
        }
        .popup {
    
          .close {
          
            ion-icon {
              font-size: 30px;
            }
          }
          form {
           
            input {
            font-size: 1.2rem;
              background: rgba(255, 255, 255, 0);
         
            }
            .newretinsert{
           
            }
          }
        }
      }
      .image {
        margin: 0px 30px;
        img {
         
        }
      }
      .delete {
        ion-icon {
        
        }
      }
    }
    .info {
    flex-direction: column;
      .left {
      
        .box {
         
      
          h3 {
      
          }
          p {
         
          }
        }
      }
      .middle {
     
        .name {
     
        }
        .number {
        
        }
        .password {
        
        }
        .company {
     
        }
        .deller {
       
        }
      }
      .right {
       
        .box {
     
          h3 {
   
              }
              p {
              
              }
        }
      }
    }
    .product {
   
      .card {
     
      }
      .image {
        width: 100%;
        img {
        
        }
      }
      .price {
        
      }
      .name {
      
      }
    }
  }

}
