.box_other {
    padding: 10px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    .now {
        img {}
    }

    .new {
        form {
            input {}
        }
    }
}