.deller_cont {
    .box {
        .header {
            display: flex;
            justify-content: space-between;
            padding: 10px;
            height: 90px;
            align-items: center;
            border-bottom: 1px solid rgb(234, 234, 234);

            .div1 {
                display: flex;
                justify-content: center;
                align-items: center;

                .toggle_btn {
                    cursor: pointer;

                    i {
                        background: white;
                        padding: 23px;
                        width: 30px;
                        @include icon-color;
                        height: 30px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 50%;
                        margin: 0px 10px
                    }
                }

                .tb2 {
                    display: none
                }

                .name {
                    @include text-color;
                    margin: 0px 20px;
                    font-weight: 600;
                    font-size: 16px;
                    text-transform: capitalize;
                }
            }

            .div2 {
                display: flex;
                justify-content: center;
                align-items: center;

                .links {
                    a {
                        margin: 0px 20px;
                        text-decoration: none;
                        @include text-color;
                        font-weight: 600;
                        letter-spacing: 1px;
                    }
                }
            }

            .div3 {
                display: flex;

                .search_box {
                    background: rgb(255, 255, 255);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 10px 25px;
                    border-radius: 10px;
                    box-shadow: 0px 6px 6px -10px black;

                    .icon {
                        i {
                            @include icon-color;
                        }
                    }

                    input {
                        margin: 0px 10px;
                        border: none;
                        width: 300px;
                        @include text-color;
                        max-width: 900px;
                        outline: none;
                        height: 30px;
                        background: rgba(0, 0, 0, 0);
                    }

                }
            }

            .div4 {
                display: flex;

                .btns {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0px 11px;

                    .profile {
                        display: flex;
                        align-items: center;

                        img {
                            width: 40px;
                            height: 40px;
                            object-fit: cover;
                            border-radius: 50%;
                            margin: 0px 10px;
                            padding: 10px;
                            background: rgb(255, 255, 255);
                        }

                        span {
                            @include text-color;
                        }
                    }

                    .notify {
                        margin: 0px 20px;

                        i {
                            @include icon-color;
                        }
                    }

                    .close {
                        i {
                            @include icon-color;
                        }
                    }
                }
            }
        }

        // -----------------------------
        .contant {
            display: flex;
            height: 100%;

            .side_box {
                transition: 1s;
                overflow: hidden;
                // border: 1px solid rgb(223, 223, 223);
                padding: 10px;
                height: max-content;

                .head {
                    // display: none;
                    text-align: center;
                    height: max-content;
                    @include text-color;
                    font-weight: 600;

                    .extra {
                        margin: 30px 0px;
                    }

                    .image {
                        margin-bottom: 20px;

                        img {
                            width: 120px;
                            height: 120px;
                            object-fit: cover;
                            border-radius: 50%;
                            padding: 5px;
                            border: 1px solid rgb(5, 82, 159);
                        }
                    }

                    .name {
                        margin: 10px 0px;
                    }

                    .number {
                        font-weight: 500;

                    }
                }

                .link_box {

                    width: 90%;
                    border-radius: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: wrap;
                    // flex-direction: column;
                    margin: 30px auto;

                    a {

                        width: 50%;
                        aspect-ratio: 1/1;
                        text-decoration: none;
                        @include icon-color;
                        transition: 0.4s;

                        .box {
                            width: 100%;
                            height: 100%;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;

                            .icon {
                                margin: 10px 0px;

                                i {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    padding: 25px;
                                    width: 40px;
                                    height: 40px;
                                    border-radius: 50%;
                                    background: rgb(255, 255, 255);
                                }
                            }

                            span {
                                transition: 1s;
                                @include text-color;
                                font-size: 14px;
                            }
                        }

                        &:hover {
                            background: rgb(255, 255, 255);
                            transform: scale(1.2);
                            border: none;
                            border-radius: 10px;
                            color: rgb(68, 134, 214);
                        }
                    }

                    .a1 {
                        border-top-left-radius: 10px;
                    }

                    .a5 {
                        border-bottom-left-radius: 10px;
                    }

                    .a6 {
                        border-bottom-right-radius: 10px;
                    }
                }

                .foot {
                    width: 100%;
                    text-align: center;
                    margin-top: 50px;

                    a {
                        padding: 10px;
                        text-align: center;
                        display: flex;
                        justify-content: center;
                        text-decoration: none;
                        border-radius: 30px;
                        align-items: center;

                        .icon {

                            i {
                                transform: rotateY(180deg);
                                color: rgb(63, 106, 175);
                                font-size: 18px;

                            }
                        }

                        span {

                            font-size: 14px;
                            @include text-color;
                            margin: 0px 25px;
                        }
                    }
                }
            }

            // --------------------
            .main_box {
                width: 100%;

                .box {
                    border: 1px solid rgb(220, 220, 220);
                    margin: 20px;
                    border-radius: 10px;
                    padding: 20px;

                    .head {
                        display: flex;
                        height: 50px;
                        align-items: center;
                        justify-content: space-between;
                        border-bottom: 1px solid rgb(226, 226, 226);
                        margin-bottom: 15px;

                        .sec_box {
                            display: flex;

                            .sec {
                                display: flex;
                                margin: 0px 20px;
                                align-items: center;
                                cursor: pointer;

                                .icon {
                                    margin: 0px 5px;

                                    i {
                                        @include icon-color;
                                        // background: rgb(0, 76, 169);
                                        width: 25px;
                                        height: 25px;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        padding: 5px;
                                    }
                                }

                                span {
                                    @include text-color;

                                }
                            }
                        }

                        .search_box {
                            display: flex;
                            padding: 20px 10px;
                            background: rgb(255, 255, 255);
                            border-radius: 30px;
                            height: 30px;
                            justify-content: center;
                            align-items: center;

                            .icon {
                                margin: 0px 10px;

                                i {
                                    @include icon-color;
                                }
                            }

                            input {
                                height: 25px;
                                border: none;
                                outline: none;
                            }
                        }
                    }

                    .short_box {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;

                        .short {
                            padding: 10px;
                            background: rgb(255, 255, 255);
                            width: 100%;
                            border-radius: 10px;
                            max-width: 160px;
                            margin: 0px 20px;
                            aspect-ratio: 2/1;
                            min-width: 200px;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;

                            .text {
                                color: rgba(195, 202, 217, 1);
                                display: flex;
                                justify-content: space-between;
                                font-size: 13px;

                                span {}

                                select {
                                    width: max-content;
                                    height: max-content;
                                    border: none;
                                    width: 50px;
                                    color: rgb(0, 116, 204);
                                    outline: none;
                                }
                            }

                            .number {
                                font-size: 18px;
                                color: rgba(125, 143, 179, 1);
                                margin: 5px 0px;
                                font-weight: 600;
                                letter-spacing: 1px;

                            }

                            .growth {
                                .grow {
                                    text-align: right;
                                    font-size: 10px;

                                    i {}
                                }
                            }
                        }
                    }

                    .statics_box {
                        margin-top: 15px;
                        border: 1px solid rgb(226, 226, 226);
                        padding: 5px;
                        border-radius: 10px;

                        .header {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            .text {
                                @include text-color;
                                font-size: 12px;
                                font-weight: 600;
                                letter-spacing: 1px;

                            }

                            .dates {
                                display: flex;

                                .year {
                                    background: rgb(255, 255, 255);
                                    padding: 5px 25px;
                                    border-radius: 20px;
                                    @include text-color;
                                    font-size: 13px;
                                    font-weight: 600;
                                    margin: 0px 10px;

                                    i {
                                        margin: 0px 5px;
                                    }
                                }

                                select {
                                    border: none;
                                    outline: none;
                                    background: rgb(255, 255, 255);
                                    padding: 5px 25px;
                                    color: rgb(78, 149, 255);
                                    font-weight: 600;
                                    cursor: pointer;
                                    border-radius: 20px;

                                    option {
                                        border: none;
                                        color: rgb(109, 109, 109);
                                        font-weight: 600;

                                        span {}

                                        .icon {
                                            i {
                                                background: #000;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        canvas {}
                    }

                    .sr_uni {
                        display: flex;
                        margin-top: 20px;
                        width: 100%;
                        justify-content: space-between;
                        @include text-color;
                        font-weight: 600;

                        .sr {
                            padding: 10px;
                            border: 1px solid rgb(230, 230, 230);
                            text-align: center;
                            height: max-content;
                            border-radius: 10px;
                            width: 100%;
                            max-width: 400px;

                            .sr_head {
                                font-size: 13px;
                                margin: 10px 0px;
                            }

                            .sr_box {
                                margin: 10px 0px;
                                display: flex;
                                align-items: center;
                                justify-content: center;

                                .image {
                                    margin: 0px 10px;

                                    img {
                                        width: 40px;
                                        height: 40px;
                                        object-fit: cover;
                                        border-radius: 50%;
                                    }
                                }

                                .progress_bar {
                                    width: 100%;
                                    border-radius: 10px;
                                    height: 10px;
                                    overflow: hidden;
                                    box-shadow: inset 2px 2px 10px -3px rgb(208, 208, 208);
                                    background: rgba(0, 50, 142, 0.086);

                                    .fill {
                                        height: 100%;
                                        width: 50%;
                                        border-radius: 30px;
                                        background: rgb(0, 70, 144);
                                    }
                                }
                            }
                        }

                        .union {
                            background: rgb(255, 255, 255);
                            text-align: center;
                            padding: 10px;
                            border-radius: 10px;
                            width: 100%;
                            max-width: max-content;

                            .union_head {
                                font-size: 13px;
                                padding: 10px 14px;
                                margin-bottom: 10px;
                                text-align: left;
                            }

                            .statistics {
                                display: flex;

                                font-weight: 600;

                                .visual {
                                    width: max-content;

                                    canvas {
                                        width: 150px;
                                    }
                                }

                                .texts {
                                    // border: 1px solid rgba(0, 0, 0, 0.1);
                                    width: 280px;
                                    padding: 10px;

                                    .text_box {
                                        padding: 0px 10px;
                                        display: flex;
                                        align-items: center;
                                        justify-content: space-between;

                                        //  border: 1px solid black;
                                        .union {
                                            display: flex;
                                            align-items: center;
                                            font-size: 13px;

                                            i {
                                                margin: 0px 5px;
                                                font-size: 10px;
                                                color: red;
                                            }
                                        }

                                        .percent {
                                            span {}
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}

// --------------------retailer-------------
.retailer_shorts {
    width: 100%;
    display: flex;

    .div1 {
        width: 100%;
        max-width: 40%;

        .card {
            border-radius: 10px;
            width: 100%;
            background: rgb(255, 255, 255);
            margin:30px 10px;
            aspect-ratio: 4/1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 15px;

            .text {
                display: flex;
                justify-content: space-between;
                font-size: 13px;
                font-weight: 600;
                color: rgba(195, 202, 217, 1);

                span {}

                select {
                    border: none;
                    color: rgb(106, 169, 246);
                    outline: none;
                }
            }

            .number {
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 20px;
                font-weight: 600;
                color: rgba(125, 143, 179, 1);

                span {}

                .grow {
                    font-size: 12px;

                    i {}
                }
            }
        }
    }

    .div2 {
        width: 100%;
        max-width: 20%;
        margin: 0px 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;

        .card {
            margin: 10px;
            border-radius: 10px;
            width: 100%;
            aspect-ratio: 2/1;
            background: #F0F3FA;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            font-weight: 600;

            .text {
                margin: 10px 0px;
                color: rgba(195, 202, 217, 1);
                
                font-size: 12px;
            }

            .num {
            color: rgba(125, 143, 179, 1);
                font-size: 20px;
            }
        }
    }

    .div3 {
        width: 100%;
        max-width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;

        .pro_box {

            border: 1px solid rgb(223, 223, 223);
            width: 100%;
            padding: 10px;
            border-radius: 10px;

            h3 {
                color: rgb(115, 115, 115);
                font-size: 14px;
                text-align: center;
            }

            .card {
                // background: rgb(196, 145, 145);
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 10px 5px;
                margin: 5px 0px;

                .image {
                    width: 10%;
                    aspect-ratio: 1/1;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 50%;
                        // border: 1px solid black;
                    }
                }

                .progress_box {
                    width: 90%;
                    height: 13px;
                    background: rgba(0, 94, 236, 0.061);
                    // box-shadow: inset 2px 2px 10px -2px rgb(67, 67, 67);
                    margin: 0px 5px;
                    border-radius: 10px;
                    overflow: hidden;

                    .progress {
                        width: 34%;
                        height: 100%;
                        border-radius: 10px;
                        background: rgb(15, 89, 238);
                    }
                }
            }
        }
    }
}

// -------------jsvascript css----
.css_head {
    width: 100%;
    max-width: 350px;
    min-width: 250px;

}

.head_css {
    max-width: 100px;
    min-width: 100px;
    border-right: 1px solid rgb(229, 229, 229);

}

.css_link_box {
    border-top: 1px solid rgb(220, 220, 220);
    border-right: 1px solid rgb(220, 220, 220);
}

.link_box_css {
    border: none;
    flex-direction: column;
}

.css_bornone {
    border-bottom: 1px solid rgb(220, 220, 220);
    border-left: 1px solid rgb(220, 220, 220);
}

.bornone {
    border: none;
    // background: #000;
}

.span_css {
    border: none;
    display: none;
    // background: #000;
}

.age {
    border: 1px solid rgb(226, 226, 226);
}

// -------------------------------
@media only screen and (max-width: 1000px) {

    .deller_cont {
        .box {
            .header {
                height: 60px;

                .div1 {

                    .toggle_btn {
                        i {}
                    }

                    .name {}
                }

                .div2 {
                    display: none;

                    .links {
                        a {}
                    }
                }

                .div3 {


                    .search_box {


                        .icon {
                            i {}
                        }

                        input {}

                    }
                }

                .div4 {


                    .btns {

                        .profile {

                            img {}

                            span {}
                        }

                        .notify {

                            margin: 0px 20px;

                            i {}
                        }

                        .close {


                            i {}
                        }
                    }
                }
            }

            .contant {


                .side_box {



                    .head {


                        .extra {}

                        .image {


                            img {
                                width: 120px;
                                height: 120px;
                                object-fit: cover;
                                border-radius: 50%;
                                padding: 5px;
                                border: 1px solid rgb(5, 82, 159);
                            }
                        }

                        .name {
                            margin: 10px 0px;
                        }

                        .number {
                            font-weight: 500;

                        }
                    }

                    .link_box {
                        width: 80%;

                        a {


                            .box {
                                width: 100%;
                                height: 100%;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;

                                .icon {
                                    margin: 10px 0px;

                                    i {}
                                }

                                span {
                                    @include text-color;
                                    font-size: 14px;
                                }
                            }

                            &:hover {
                                background: rgb(255, 255, 255);
                                transform: scale(1.2);
                                border: none;
                                border-radius: 10px;
                                color: rgb(68, 134, 214);
                            }
                        }

                        .a1 {
                            border-top-left-radius: 10px;
                        }

                        .a5 {
                            border-bottom-left-radius: 10px;
                        }

                        .a6 {
                            border-bottom-right-radius: 10px;
                        }
                    }

                    .foot {
                        width: 100%;
                        text-align: center;
                        margin-top: 50px;

                        a {
                            padding: 10px;
                            text-align: center;
                            display: flex;
                            justify-content: center;
                            text-decoration: none;
                            border: 1px solid rgb(205, 205, 205);
                            border-radius: 30px;
                            align-items: center;

                            .icon {

                                i {
                                    transform: rotateY(180deg);
                                    color: rgb(63, 106, 175);
                                    font-size: 18px;

                                }
                            }

                            span {
                                font-size: 14px;
                                @include text-color;
                                margin: 0px 25px;
                            }
                        }
                    }
                }

                // --------------------
                .main_box {
                    width: 100%;

                    .box {
                        border: 1px solid rgb(220, 220, 220);
                        margin: 20px;
                        border-radius: 10px;
                        padding: 20px;

                        .head {
                            display: flex;
                            display: none;
                            height: 50px;
                            align-items: center;
                            justify-content: space-between;
                            border-bottom: 1px solid rgb(226, 226, 226);
                            margin-bottom: 15px;

                            .sec_box {
                                display: flex;

                                .sec {
                                    display: flex;
                                    margin: 0px 20px;
                                    align-items: center;
                                    cursor: pointer;

                                    .icon {


                                        i {}
                                    }

                                    span {}
                                }
                            }

                            .search_box {


                                .icon {


                                    i {}
                                }

                                input {}
                            }
                        }

                        .short_box {
                            flex-wrap: wrap;
                            justify-content: center;

                            .short {
                                min-width: 40%;
                                aspect-ratio: 2/1;

                                margin: 5px;

                                .text {}

                                .number {}
                            }
                        }

                        .statics_box {


                            .header {


                                .text {}

                                .dates {


                                    .year {
                                        font-size: 10px;
                                        display: flex;
                                        padding: 5px 9px;
                                        height: max-content;

                                        width: 80px;

                                        i {}
                                    }

                                    select {
                                        padding: 5px 9px;

                                        height: max-content;
                                        font-size: 10px;

                                        option {


                                            span {}

                                            .icon {
                                                i {}
                                            }
                                        }
                                    }
                                }
                            }

                            canvas {}
                        }

                        .sr_uni {
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;

                            .sr {
                                margin: 10px;

                                .sr_head {}

                                .sr_box {


                                    .image {


                                        img {}
                                    }

                                    .progress_bar {

                                        .fill {}
                                    }
                                }
                            }

                            .union {


                                .union_head {}

                                .statistics {


                                    .visual {
                                        display: flex;
                                        align-items: center;

                                        canvas {
                                            width: 100px;
                                        }
                                    }

                                    .texts {

                                        .text_box {

                                            .union {
                                                i {}
                                            }

                                            .percent {
                                                span {}
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// ---------
@media only screen and (max-width: 700px) {
    .deller_cont {
        .box {
            .header {
                height: 60px;

                .div1 {

                    .toggle_btn {
                        i {}
                    }

                    .tb1 {
                        display: none
                    }

                    .tb2 {
                        display: block
                    }

                    .name {}
                }

                .div2 {
                    display: none;

                    .links {
                        a {}
                    }
                }

                .div3 {
                    display: none;

                    .search_box {


                        .icon {
                            i {}
                        }

                        input {}

                    }
                }

                .div4 {


                    .btns {

                        .profile {

                            img {}

                            span {
                                display: none;

                            }
                        }

                        .notify {
                            display: none;

                            margin: 0px 20px;

                            i {}
                        }

                        .close {
                            display: none;


                            i {}
                        }
                    }
                }
            }

            .contant {


                .side_box {
                    display: none;
                    position: absolute;
                    width: 100%;
                    max-width: 100%;
                    background: rgb(242, 242, 242);
                    padding-bottom: 400px;

                    .head {
                        .extra {}

                        .image {
                            img {
                                width: 120px;
                                height: 120px;
                                object-fit: cover;
                                border-radius: 50%;
                                padding: 5px;
                                border: 1px solid rgb(5, 82, 159);
                            }
                        }

                        .name {
                            margin: 10px 0px;
                        }

                        .number {
                            font-weight: 500;

                        }
                    }

                    .link_box {
                        width: 80%;

                        a {

                            .box {
                                width: 100%;
                                height: 100%;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;

                                .icon {
                                    margin: 10px 0px;

                                    i {}
                                }

                                span {
                                    @include text-color;
                                    font-size: 14px;
                                }
                            }

                            &:hover {
                                background: rgb(255, 255, 255);
                                transform: scale(1.2);
                                border: none;
                                border-radius: 10px;
                                color: rgb(68, 134, 214);
                            }
                        }

                        .a1 {
                            border-top-left-radius: 10px;
                        }

                        .a5 {
                            border-bottom-left-radius: 10px;
                        }

                        .a6 {
                            border-bottom-right-radius: 10px;
                        }
                    }

                    .foot {
                        width: 100%;
                        text-align: center;
                        margin-top: 50px;

                        a {
                            padding: 10px;
                            text-align: center;
                            display: flex;
                            justify-content: center;
                            text-decoration: none;
                            border: 1px solid rgb(205, 205, 205);
                            border-radius: 30px;
                            align-items: center;

                            .icon {

                                i {
                                    transform: rotateY(180deg);
                                    color: rgb(63, 106, 175);
                                    font-size: 18px;

                                }
                            }

                            span {
                                font-size: 14px;
                                @include text-color;
                                margin: 0px 25px;
                            }
                        }
                    }
                }

                // --------------------
                .main_box {
                    width: 100%;

                    .box {
                        border: 1px solid rgb(220, 220, 220);
                        margin: 20px;
                        border-radius: 10px;
                        padding: 20px;

                        .head {
                            display: flex;
                            display: none;
                            height: 50px;
                            align-items: center;
                            justify-content: space-between;
                            border-bottom: 1px solid rgb(226, 226, 226);
                            margin-bottom: 15px;

                            .sec_box {
                                display: flex;

                                .sec {
                                    display: flex;
                                    margin: 0px 20px;
                                    align-items: center;
                                    cursor: pointer;

                                    .icon {


                                        i {}
                                    }

                                    span {}
                                }
                            }

                            .search_box {


                                .icon {


                                    i {}
                                }

                                input {}
                            }
                        }

                        .short_box {
                            flex-wrap: wrap;
                            justify-content: center;

                            .short {
                                // background: #000;
                                min-width: 90%;
                                aspect-ratio: 2/1;

                                .text {}

                                .number {}
                            }
                        }

                        .statics_box {


                            .header {


                                .text {}

                                .dates {


                                    .year {
                                        font-size: 10px;
                                        display: flex;
                                        padding: 5px 9px;
                                        height: max-content;

                                        width: 80px;

                                        i {}
                                    }

                                    select {
                                        padding: 5px 9px;

                                        height: max-content;
                                        font-size: 10px;

                                        option {


                                            span {}

                                            .icon {
                                                i {}
                                            }
                                        }
                                    }
                                }
                            }

                            canvas {}
                        }

                        .sr_uni {
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;

                            .sr {
                                margin: 10px;

                                .sr_head {}

                                .sr_box {


                                    .image {


                                        img {}
                                    }

                                    .progress_bar {

                                        .fill {}
                                    }
                                }
                            }

                            .union {


                                .union_head {}

                                .statistics {


                                    .visual {
                                        display: flex;
                                        align-items: center;

                                        canvas {
                                            width: 100px;
                                        }
                                    }

                                    .texts {

                                        .text_box {

                                            .union {
                                                i {}
                                            }

                                            .percent {
                                                span {}
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    // ------------------------------
    .retailer_shorts {
        width: 100%;
        display: flex;
        flex-direction: column;

        .div1 {
            justify-content: center;
            align-items: center;
            max-width: 100%;

            .card {

                margin: 10px 0px;

                .text {


                    span {}

                    select {}
                }

                .number {


                    span {}

                    .grow {


                        i {}
                    }
                }
            }
        }

        .div2 {
            max-width: 100%;
            margin: 0px;

            .card {
                aspect-ratio: 3/1;
                margin: 10px 0px;

                .text {}

                .num {}
            }
        }

        .div3 {
            max-width: 100%;

            .pro_box {


                h3 {}

                .card {


                    .image {


                        img {}
                    }

                    .progress_box {


                        .progress {}
                    }
                }
            }
        }
    }
}