  @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins&display=swap');

  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Poppins', sans-serif;
  }

  // ------------------------------extra
  @mixin header {
      .header {
          //   background: #000;
          text-align: center;
          padding: 15px 30px;
          margin: 115px 10px;

          .line1 {
              h3 {
                  color: rgb(35, 134, 255);
                  letter-spacing: 2px;
                  font-weight: 500;
                  letter-spacing: 0;
              }
          }

          .line2 {
              h2 {
                  padding: 0px 30px;
                  color: #4E5D78;
                  padding-top: 17px;
                  font-size: 35px;
              }
          }

          .line3 {
              p {
                  color: #8A94A6;
                  margin: 10px 30px;
              }
          }
      }
  }

  @mixin text-color {
      color: #4E5D78;
  }

  @mixin text-color_blue {
      color: #007AFF;
  }


  // ------------------------ extra css for javascript
  .faq_icon_rotate_before {
      transform: rotate(-190deg);
  }

  .faq_icon_rotate_after {
      transform: rotate(270deg);

  }

  //   -----------------------------------start
  html {
      scroll-behavior: smooth;
  }

  .container {
      background: rgba(255, 255, 255, 1);
      @include text-color();

      .box {
          header {
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding: 40px 10px;
              width: 100%;
              max-width: 1900px;
              margin: auto;

              .logo {
                  //   background: rgb(255, 255, 255);
                  //   padding: 0px 20px;
                  width: 20%;

                  // background: #f4bebe;
                  img {
                      width: 70px;
                      border-radius: 15px;
                      box-shadow: -4px -5px 15px 0px rgba(0, 0, 0, 0.04), 4px 5px 15px 0px rgba(0, 0, 0, 0.04);
                      margin-left: 30px;
                      object-fit: contain;
                  }
              }

              .righta {
                  display: flex;
                  width: 80%;
                  justify-content: right;

                  nav {
                      display: flex;
                      position: relative;
                      float: right;
                      margin-right: 10px;
                      left: 0;

                      ul {
                          display: flex;
                          align-items: center;

                          .a {
                              text-decoration: none;
                              display: flex;
                              align-items: center;
                              margin: 0px 10px;
                              padding: 5px 10px;
                              color: #007AFF;
                              border-radius: 50px;
                              transition: 0.2s;
                              background: #f7f8fa;
                              position: relative;
                              width: -webkit-max-content;
                              width: -moz-max-content;
                              width: max-content;
                              font-size: 0.7rem;
                              font-family: "Poppins", sans-serif;

                              span {
                                  padding: 0px 8px;
                              }

                              &:hover {
                                  color: aliceblue;
                                  background: #007AFF;
                              }

                              &::before {
                                  content: '';
                                  position: absolute;
                                  width: 0%;
                                  height: 90px;
                                  z-index: 1;
                                  transition: 0.3s;
                                  left: 25%;
                                  border-bottom: 1px solid #007AFF;
                              }

                              &:hover::before {
                                  width: 60%;
                              }
                          }

                          .more {
                              cursor: pointer;
                              padding: 0px 10px;
                              display: flex;
                              justify-content: center;
                              align-items: center;
                              position: relative;

                              span {
                                  font-size: 15px;
                              }

                              .extra_link {
                                  background: #00000008;
                                  position: absolute;
                                  top: 40px;
                                  right: 0;
                                  padding: 10px;
                                  width: 200px;
                                  border-radius: 10px;

                                  .head_text {
                                      text-align: center;
                                      margin: 10px 0px;
                                  }

                                  a {
                                      text-decoration: none;

                                      .link {
                                          display: flex;
                                          justify-content: center;
                                          align-items: center;
                                          padding: 10px 20px;
                                          margin: 15px 5px;
                                          font-size: 12px;
                                          border-radius: 50px;
                                          transition: 0.2s;
                                          color: #007AFF;
                                          background: #ffffffac;

                                          &:hover {
                                              background: #007AFF;
                                              color: #ffffff;
                                          }

                                          span {
                                              margin: 0px 5px;
                                              font-size: 18px;
                                          }
                                      }
                                  }
                              }
                          }
                      }
                  }

                  .talk_a {
                      text-decoration: none;

                      .talk_btn {
                          display: flex;
                          justify-content: center;
                          align-items: center;
                          padding: 10px 20px;
                          font-weight: 600;
                          border-radius: 40px;
                          border: 1px solid rgb(112, 169, 249);
                          font-size: 19px;
                          @include text-color_blue();

                          span {
                              background: rgba(3, 114, 250, 0.398);
                              margin-left: 15px;
                              display: flex;
                              justify-content: center;
                              align-items: center;
                              border-radius: 50%;
                              width: max-content;
                              font-size: 15px;
                              aspect-ratio: 1/1;
                              padding: 3px;
                              font-weight: 900;
                          }
                      }
                  }
              }
          }

          //   ---------------------------------section 1
          .sec {
              margin: 20px 0px;
          }

          .sec1 {
              width: 100%;

              .sec_box {
                  width: 100%;
                  display: flex;
                  height: 100vh;
                  max-height: 700px;
                  // background: rgb(229, 160, 160);

                  .left {
                      width: 50%;
                      //   background: #000;
                      display: flex;
                      align-items: center;

                      .l_box {
                          height: max-content;
                          text-align: center;
                          width: 100%;

                          .text {
                              width: 100%;
                              // background: #000;
                              text-align: center;
                              font-size: 45px;
                              color: #4E5D78;
                              font-weight: 600;
                              font-family: 'Montserrat', sans-serif;
                          }

                          .btn {
                              width: max-content;
                              margin: 20px auto;
                              display: flex;
                              align-items: center;
                              cursor: pointer;
                              padding: 5px 11px;
                              border-radius: 40px;
                              border: 1px solid #0085ff;
                              color: #007AFF;
                              font-weight: 600;
                              font-family: 'Montserrat', sans-serif;

                              span {
                                  display: flex;
                                  align-items: center;
                                  justify-content: center;
                                  font-size: 18px;
                                  margin: 0px 5px;

                                  font-weight: 600;
                              }


                          }

                          .popup_box {
                              position: fixed;
                              width: 100vw;
                              height: 100vh;
                              background: #0000009c;
                              top: 0;
                              left: 0;
                              display: flex;
                              justify-content: center;
                              align-items: baseline;
                              backdrop-filter: blur(5px);
                              color: #007AFF;
                              font-weight: 500;

                              .pbox {
                                  background: #ffffffdd;
                                  width: 80%;
                                  max-width: 800px;
                                  aspect-ratio: 2/1.4;
                                  margin: auto;
                                  border-radius: 20px;
                                  position: relative;
                                  padding: 20px;
                                  display: flex;
                                  justify-content: center;
                                  align-items: center;
                                  flex-direction: column;

                                  .close_btn {
                                      position: absolute;
                                      top: -15px;
                                      right: -15px;
                                      cursor: pointer;

                                      span {
                                          background: #ffffff;
                                          padding: 8px;
                                          border-radius: 50%;
                                      }
                                  }

                                  .next,
                                  .pre {
                                      margin-top: 30px;

                                      .head {}

                                      .nbox {
                                          margin: 30px 0px;
                                          display: flex;
                                          justify-content: center;
                                          align-items: center;
                                          flex-wrap: wrap;

                                          a {
                                              text-decoration: none;
                                              color: #7f7f7f;

                                              .card {
                                                  text-align: center;
                                                  margin: 0px 20px;
                                                  // border: 1px solid rgb(33, 33, 27);
                                                  display: flex;
                                                  flex-direction: column;
                                                  justify-content: center;
                                                  padding: 5px;
                                                  align-items: center;
                                                  color: #4E5D78;

                                                  &:hover {
                                                      color: #007AFF;
                                                  }

                                                  .icon {
                                                      border: 2px solid #d7dadf;
                                                      width: 100px;
                                                      height: 100px;
                                                      display: flex;
                                                      justify-content: center;
                                                      align-items: center;
                                                      border-radius: 50%;

                                                      &:hover {
                                                          border: 2px solid rgba(0, 122, 255, 0.5);
                                                      }

                                                      span {
                                                          font-size: 2.6rem;

                                                      }
                                                  }

                                                  .name {
                                                      margin: 10px 0px;
                                                  }
                                              }
                                          }

                                      }

                                      .nbtn,
                                      .pbtn {
                                          // border: 1px solid rgb(20, 109, 178);
                                          background: #f3f5f8;
                                          width: max-content;
                                          margin: auto;
                                          padding: 5px 30px;
                                          border-radius: 30px;
                                          display: flex;
                                          justify-content: center;
                                          align-items: center;
                                          cursor: pointer;
                                      }
                                  }

                                  //   .pre {
                                  //       display: none;
                                  //   }

                              }
                          }
                      }
                  }

                  .right {
                      width: 50%;
                      display: flex;
                      align-items: center;

                      .r_box {
                          // background: #000;
                          width: 100%;

                          img {
                              width: 100%;
                              max-width: 60rem;
                          }
                      }
                  }
              }
          }

          //   ------------------------------ section 2
          .sec2 {
              .sec_box {
                  @include header;

                  .room {
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      flex-wrap: wrap;
                      width: 100%;
                      margin: auto;
                      max-width: 1260px;

                      .box {
                          font-family: 'Poppins', sans-serif;
                          width: 30%;
                          border: 2px solid #EDEFF2;
                          margin: 20px;
                          max-width: 390px;
                          aspect-ratio: 1/0.9;
                          border-radius: 15px;
                          padding: 15px;
                          background: #FFFFFF;
                          box-shadow: -5px -5px 35px rgba(255, 255, 255, 0.25), 5px 5px 35px #EDF6FC;
                          border-radius: 25px;
                          cursor: pointer;

                          &:hover {
                              border: 2px solid #007AFF;
                          }

                          .more {
                              display: flex;
                              justify-content: right;

                              .dot {
                                  display: flex;
                                  justify-content: center;
                                  //   background: #000;
                                  width: max-content;

                                  span {
                                      font-size: 13px;
                                      margin: 0;
                                      padding: 0;
                                  }
                              }
                          }

                          .icon {
                              padding: 10px 0px;

                              span {
                                  background: rgba(55, 125, 255, 0.09);
                                  padding: 17px;
                                  font-size: 2.5rem;
                                  color: hsl(214, 100%, 56%);
                                  border-radius: 50%;
                                  margin-left: 10px;
                              }
                          }

                          .text {
                              margin-top: 20px;

                              h2 {
                                  font-size: 1.4rem;
                                  font-weight: 500;
                                  margin: 10px 0px;
                                  @include text-color();
                              }

                              p {
                                  overflow: hidden;
                                  text-overflow: ellipsis;
                                  display: -webkit-box;
                                  -webkit-line-clamp: 2;
                                  /* number of lines to show */
                                  line-clamp: 2;
                                  -webkit-box-orient: vertical;
                                  line-height: 25px;
                                  color: #92a5b7;
                                  font-size: 0.8rem;
                                  letter-spacing: 1px;

                                  a {
                                      text-decoration: none;
                                      //   color: rgb(36, 127, 238);
                                      //   font-weight: 600;
                                  }
                              }
                          }

                          .aro {
                              display: flex;
                              justify-content: right;
                              align-items: center;
                              margin-top: 60px;
                              text-align: end;
                              font-size: 0.8rem;
                              color: #2185f0;

                              span {
                                  display: flex;
                                  justify-content: center;
                                  align-items: center;
                                  font-size: 10px;
                                  margin: 0px 10px;
                                  background: hwb(207 1% 0% / 0.384);
                                  border-radius: 50%;
                                  font-weight: 600;
                                  padding: 4px;
                              }
                          }

                          .full_text {
                              position: fixed;
                              top: 0;
                              left: 0;
                              background: #00000075;
                              width: 100%;
                              backdrop-filter: blur(10px);
                              height: 100%;
                              display: flex;
                              justify-content: center;
                              align-items: center;
                            //   display: none;

                              .ft {
                                  width: 90%;

                                  background: #ffffffbd;
                                  padding: 20px;
                                  position: relative;
                                  border-radius: 20px;

                                  .head_i {
                                      position: absolute;
                                      top: -17px;
                                      right: -17px;

                                      span {
                                          background: #ffffff;
                                          border-radius: 50%;
                                          padding: 5px;
                                      }
                                  }

                                  .p {}
                              }
                          }
                      }
                  }
              }
          }

          //   -------------------------- section 3
          .sec3 {
              width: 100%;

              .sec_box {
                  width: 80%;
                  margin: auto;
                  @include header;

                  .big_box1 {
                      margin: 30px auto;

                      padding: 45px;
                      border: 2px solid #EDEFF2;
                      background: rgba(250, 251, 252, 0.2);
                      box-shadow: -5px -5px 35px rgba(255, 255, 255, 0.25), 5px 5px 35px #F7F7F7;
                      border-radius: 25px;
                      width: 100%;
                      max-width: 1200px;
                      margin: auto;

                      h4 {
                          text-align: center;
                          font-size: 1.4rem;
                          margin: 15px 0px;
                      }

                      p {
                          color: #92a5b7;
                          line-height: 45px;
                      }
                  }

                  .big_box2 {
                      margin: 60px auto;
                      padding: 45px;
                      border: 2px solid #EDEFF2;
                      background: rgba(250, 251, 252, 0.2);
                      box-shadow: -5px -5p x 35px rgba(255, 255, 255, 0.25), 5px 5px 35px #F7F7F7;
                      border-radius: 25px;
                      width: 100%;
                      max-width: 1200px;
                      //   margin: auto;

                      h4 {
                          display: flex;
                          justify-content: center;
                          align-items: center;
                          text-align: center;
                          font-size: 1.4rem;
                          margin: 15px 0px;
                      }

                      .bbox {
                          .card {
                              width: 100%;
                              // background: #000;
                              padding: 5px 0px;
                              margin: 10px 0px;
                              border-bottom: 1px solid rgba(211, 211, 211, 0.319);

                              .chead {
                                  cursor: pointer;
                                  padding: 10px 0px;
                                  width: 100%;
                                  display: flex;
                                  justify-content: space-between;

                                  span {
                                      transition: 0.3s;
                                      color: rgba(1, 120, 255, 0.442);
                                      //   transform: rotate(-90deg);
                                  }
                              }

                              .ctext {

                                  padding: 10px 0px;
                                  border-top: 1px solid rgb(240, 240, 240);

                                  p {
                                      color: #92a5b7;
                                      line-height: 30px;
                                  }
                              }
                          }
                      }
                  }
              }
          }

          // ----------------------------------- section 4
          .sec4 {
              .sec_box {
                  @include header;

                  .form_box {
                      margin: 120px 0px;

                      form {
                          padding: 15px 30px;
                          //   background: rgb(219, 203, 203);
                          width: 100%;
                          max-width: 600px;
                          margin: auto;
                          text-align: center;
                          display: flex;
                          flex-direction: column;
                          align-items: center;
                          justify-content: center;
                          border-radius: 20px;
                          background: #FFFFFF;
                          box-shadow: -5px -5px 35px rgba(255, 255, 255, 0.25), 5px 5px 35px #F7F7F7;
                          border-radius: 25px;
                          border: 2px solid #edeff2a8;

                          h3 {
                              margin: 40px 0px;
                          }

                          .name {
                              display: flex;
                              justify-content: center;
                              border: none;
                              height: 30px;
                              outline: none;
                              width: 100%;
                              max-width: 300px;
                              padding: 5px;
                              color: #4E5D78;
                              border-bottom: 0.5px solid rgba(0, 0, 0, 0.09);

                              // height: 30px;
                              span {
                                  font-size: 16px;
                              }

                              input {
                                  background: #03010100;
                                  width: 100%;
                                  border: none;
                                  outline: none;
                                  padding: 5px;
                                  //   height: 100%;
                              }
                          }

                          .msg {
                              display: flex;
                              justify-content: center;
                              // align-items: center;
                              margin: 10px 0px;
                              border: none;
                              outline: none;
                              color: #4E5D78;
                              width: 100%;
                              aspect-ratio: 3/1;
                              max-width: 300px;
                              padding: 9px;
                              border-radius: 10px;
                              background: rgba(240, 240, 240, 0.586);

                              span {
                                  font-size: 16px;
                              }

                              textarea {
                                  resize: none;
                                  background: #d4464600;
                                  width: 100%;
                                  border: none;
                                  outline: none;
                                  padding: 0px 8px;
                              }
                          }

                          button {
                              display: flex;
                              justify-content: center;
                              align-items: center;
                              padding: 5px 15px;
                              margin: 40px 0px;
                              border: none;
                              font-size: 1em;
                              height: max-content;
                              color: #007AFF;
                              border-radius: 30px;
                              background: #007bed0a;
                              cursor: pointer;
                              transition: 0.2s;

                              &:hover {
                                  color: aliceblue;
                                  background: rgb(26, 105, 253);
                              }

                              span {
                                  font-size: 1.4em;
                                  transform: rotate(-60deg);
                              }
                          }
                      }
                  }
              }
          }

          // ------------------------------footer
          footer {
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding: 20px;
              text-transform: capitalize;

              .div {
                  width: 25%;
                  height: 200px;
                  background: rgb(250, 250, 250);
                  padding: 50px;

                  .head {
                      text-align: left;
                      color: #4E5D78;
                      font-size: 19px;
                      text-transform: capitalize;
                  }

                  ul {
                      a {
                          text-decoration: none;
                          @include text-color();

                          &:hover {
                              color: #007AFF;
                          }

                          li {
                              margin: 10px 0px;

                          }
                      }
                  }
              }

              .div4 {
                  padding: 30px;

                  h4 {}

                  .social {
                      margin: 30px 0px;

                      a {
                          @include text-color();

                          text-decoration: none;

                          ion-icon {
                              margin-right: 15px;
                              font-size: 25px;
                          }
                      }
                  }

                  p {
                      font-size: 0.8rem;
                  }
              }
          }
      }
  }


  //   ---------------------------------- responsive

  @media only screen and (max-width: 600px) {
      @mixin header {
          .header {

              .line1 {
                  h3 {}
              }

              .line2 {
                  h2 {}
              }

              .line3 {
                  p {}
              }
          }
      }

      .container {


          .box {
              header {


                  .logo {

                      img {}
                  }

                  nav {


                      ul {


                          a {

                              span {}

                              &:hover {}

                              &::before {}

                              &:hover::before {}
                          }

                          .more {

                              span {}
                          }
                      }
                  }



                  .talk_a {


                      .talk_btn {

                          span {}
                      }
                  }
              }

              //   ---------------------------------section 1
              .sec {}

              .sec1 {


                  .sec_box {

                      .left {


                          .l_box {

                              .text {}

                              .btn {

                                  span {}


                              }

                              .popup_box {


                                  .pbox {



                                      .close_btn {

                                          span {}
                                      }

                                      .next,
                                      .pre {


                                          .head {}

                                          .nbox {


                                              a {


                                                  .card {


                                                      .icon {


                                                          span {}
                                                      }

                                                      .name {}
                                                  }
                                              }

                                          }

                                          .nbtn,
                                          .pbtn {}
                                      }


                                  }
                              }
                          }
                      }

                      .right {


                          .r_box {


                              img {}
                          }
                      }
                  }
              }

              //   ------------------------------ section 2
              .sec2 {
                  .sec_box {


                      .room {


                          .box {



                              .more {


                                  .dot {


                                      span {}
                                  }
                              }

                              .icon {
                                  span {}
                              }

                              .text {


                                  h2 {}

                                  p {
                                      a {}
                                  }
                              }
                          }
                      }
                  }
              }

              //   -------------------------- section 3
              .sec3 {


                  .sec_box {


                      .big_box1 {



                          h4 {}

                          p {}
                      }

                      .big_box2 {


                          h4 {}

                          .bbox {
                              .card {

                                  .chead {


                                      span {}
                                  }

                                  .ctext {

                                      p {}
                                  }
                              }
                          }
                      }
                  }
              }

              // ----------------------------------- section 4
              .sec4 {
                  .sec_box {


                      .form_box {


                          form {


                              h3 {}

                              input {}

                              textarea {}

                              button {


                                  span {}
                              }
                          }
                      }
                  }
              }

              // ------------------------------footer
              footer {


                  .div {


                      .head {}

                      ul {
                          a {


                              li {}
                          }
                      }
                  }

                  .div4 {


                      h4 {}

                      .social {


                          a {



                              ion-icon {}
                          }
                      }

                      p {}
                  }
              }
          }
      }
  }

  // -------------------------
  @media only screen and (max-width: 810px) {
      @mixin header {
          .header {

              .line1 {
                  h3 {}
              }

              .line2 {
                  h2 {}
              }

              .line3 {
                  p {}
              }
          }
      }

      .container {


          .box {
              header {


                  .logo {
                      width: 10%;
                      display: none;

                      img {}
                  }

                  .righta {
                      width: 100%;
                      justify-content: center;

                      nav {

                          ul {


                              a {

                                  span {}

                                  &:hover {}

                                  &::before {}

                                  &:hover::before {}
                              }

                              .more {

                                  span {}
                              }
                          }
                      }



                      .talk_a {

                          .talk_btn {
                              p {
                                  font-size: 19px;

                              }

                              span {
                                  background: #0069f235;
                                  padding: 0px;
                                  font-size: 1.5rem;
                                  margin: 0px;
                                  margin: 0px 10px;
                              }
                          }
                      }
                  }
              }

              //   ---------------------------------section 1
              .sec {}

              .sec1 {


                  .sec_box {

                      .left {


                          .l_box {

                              .text {}

                              .btn {

                                  span {}


                              }

                              .popup_box {


                                  .pbox {



                                      .close_btn {

                                          span {}
                                      }

                                      .next,
                                      .pre {


                                          .head {}

                                          .nbox {


                                              a {


                                                  .card {


                                                      .icon {


                                                          span {}
                                                      }

                                                      .name {}
                                                  }
                                              }

                                          }

                                          .nbtn,
                                          .pbtn {}
                                      }


                                  }
                              }
                          }
                      }

                      .right {


                          .r_box {


                              img {}
                          }
                      }
                  }
              }

              //   ------------------------------ section 2
              .sec2 {
                  .sec_box {


                      .room {


                          .box {



                              .more {


                                  .dot {


                                      span {}
                                  }
                              }

                              .icon {
                                  span {}
                              }

                              .text {


                                  h2 {}

                                  p {
                                      a {}
                                  }
                              }
                          }
                      }
                  }
              }

              //   -------------------------- section 3
              .sec3 {


                  .sec_box {


                      .big_box1 {



                          h4 {}

                          p {}
                      }

                      .big_box2 {


                          h4 {}

                          .bbox {
                              .card {

                                  .chead {


                                      span {}
                                  }

                                  .ctext {

                                      p {}
                                  }
                              }
                          }
                      }
                  }
              }

              // ----------------------------------- section 4
              .sec4 {
                  .sec_box {


                      .form_box {


                          form {


                              h3 {}

                              input {}

                              textarea {}

                              button {


                                  span {}
                              }
                          }
                      }
                  }
              }

              // ------------------------------footer
              footer {


                  .div {


                      .head {}

                      ul {
                          a {


                              li {}
                          }
                      }
                  }

                  .div4 {


                      h4 {}

                      .social {


                          a {



                              ion-icon {}
                          }
                      }

                      p {}
                  }
              }
          }
      }
  }

  //   -----------------------------
  @media only screen and (max-width: 600px) {
      @mixin header {
          .header {
              //   background: #000;
              text-align: center;
              padding: 15px 5px;

              .line1 {
                  h3 {
                      color: rgb(35, 134, 255);
                      letter-spacing: 2px;
                  }
              }

              .line2 {
                  h2 {
                      padding: 20px 30px;
                  }
              }

              .line3 {
                  p {}
              }
          }
      }

      .container {
          background: rgba(255, 255, 255, 1);

          .box {
              header {
                  display: none;

                  .logo {

                      img {}
                  }

                  nav {
                      display: none;

                      ul {
                          display: flex;
                          align-items: center;

                          a {

                              span {
                                  padding: 0px 8px;
                              }

                              &:hover {
                                  color: aliceblue;
                                  background: rgb(0, 153, 255);
                              }

                              &::before {}

                              &:hover::before {
                                  width: 60%;
                              }
                          }

                          .more {

                              span {
                                  font-size: 15px;
                              }
                          }
                      }
                  }



                  .talk_a {
                      text-decoration: none;

                      .talk_btn {

                          span {}
                      }
                  }
              }

              //   ---------------------------------section 1
              .sec {
                  margin: 20px 0px;
              }

              .sec1 {
                  width: 100%;

                  .sec_box {

                      .left {
                          width: 100%;
                          //   background: #000;
                          display: flex;
                          align-items: center;

                          .l_box {

                              .text {}

                              .btn {

                                  span {}


                              }

                              .popup_box {


                                  .pbox {



                                      .close_btn {

                                          span {}
                                      }

                                      .next,
                                      .pre {
                                          margin-top: 30px;

                                          .head {}

                                          .nbox {


                                              a {


                                                  .card {


                                                      .icon {


                                                          span {
                                                              font-size: 2.6rem;
                                                          }
                                                      }

                                                      .name {
                                                          margin: 10px 0px;
                                                      }
                                                  }
                                              }

                                          }

                                          .nbtn,
                                          .pbtn {
                                              // border: 1px solid rgb(20, 109, 178);

                                          }
                                      }

                                      //   .pre {
                                      //       display: none;
                                      //   }

                                  }
                              }
                          }
                      }

                      .right {
                          display: none;

                          .r_box {


                              img {}
                          }
                      }
                  }
              }

              //   ------------------------------ section 2
              .sec2 {
                  display: none;

                  .sec_box {
                      @include header;

                      .room {


                          .box {

                              width: 100%;

                              .more {


                                  .dot {


                                      span {}
                                  }
                              }

                              .icon {
                                  span {}
                              }

                              .text {
                                  margin-top: 20px;

                                  h2 {}

                                  p {
                                      a {}
                                  }
                              }
                          }
                      }
                  }
              }

              //   -------------------------- section 3
              .sec3 {
                  width: 100%;
                  display: none;

                  .sec_box {


                      .big_box1 {

                          padding: 8px;

                          h4 {}

                          p {
                              line-height: 35px;
                              font-size: 0.9rem;
                          }
                      }

                      .big_box2 {
                          padding: 10px;

                          h4 {}

                          .bbox {
                              .card {

                                  .chead {
                                      display: flex;
                                      align-items: center;
                                      justify-content: space-between;

                                      span {
                                          // background: #000;
                                          display: flex;
                                          justify-content: center;
                                          align-items: center;
                                      }
                                  }

                                  .ctext {

                                      p {
                                          line-height: 30px;
                                      }
                                  }
                              }
                          }
                      }
                  }
              }

              // ----------------------------------- section 4
              .sec4 {
                  display: none;

                  .sec_box {
                      @include header;

                      .form_box {
                          margin: 120px 0px;

                          form {


                              h3 {
                                  margin: 20px 0px;
                              }

                              input {}

                              textarea {}

                              button {


                                  span {}
                              }
                          }
                      }
                  }
              }

              // ------------------------------footer
              footer {
                  flex-wrap: wrap;
                  display: none;

                  .div {
                      width: 100%;

                      .head {}

                      ul {
                          a {
                              text-decoration: none;

                              li {
                                  margin: 10px 0px;

                              }
                          }
                      }
                  }

                  .div4 {
                      padding: 30px;

                      h4 {}

                      .social {
                          margin: 30px 0px;

                          a {

                              text-decoration: none;

                              ion-icon {}
                          }
                      }

                      p {
                          font-size: 0.8rem;
                      }
                  }
              }
          }
      }
  }